@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* stilizzazione generica della pagina*/
#logo {
    width: 100px;
}

.nav-link img {
    width: 30px;
}

a, .bi:hover {
    cursor: pointer;
}

#bottone-footer {
    border: 1px solid white;
}

.trending-now img, .watch-it-again img, .new-releases img {
    width: 230px;
    transition: 1s ease;
    cursor: pointer;
}

/* media query sul footer che è quello che mi ha dato puiù problemi.
il resto della pagina grazie a bootstrat era di per se responsive*/
@media (max-width: 575px){
    footer {
        padding: 15px 25px;
    }
}

@media (mim-width: 768px){
    footer {
        padding: 15px 50px;
    }
}

@media (min-width: 992px) and (max-width: 1800px){
    footer {
        padding: 15px 150px;
    }
}

/* animazione card */
img:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px 5px;
    padding: 0 3px;
}

